@import './variables';

span{
    background-color: $back-ground;
    color: white;
    font-weight: 700;
    padding-left : 5rem;
}
.quality {
    background-color: $back-ground;
    display: flex;
    box-sizing: border-box;
    padding-left : 5rem;
    padding-right: 5rem;
    font-size: 0.5;
    line-height: 80%;
   
    
    .sol{
        width: 12rem;
        float: inline-start;
    }
    .ortaa{
        width: 11rem;
        float: inline-end;
    }
    .sag{
       
        float: inline-end;
        border-radius: 50%;  
        width:60px;
        height: 60px;   
        padding: 1rem;
        margin: 0.5rem;
        border:#A527D0 10px solid;
}
.ccircular-chart.orange .circle {
    stroke:darkgoldenrod;
  }
}