@import './variables';

span{
    background-color: $back-ground;
    color: white;
    font-weight: 700;
    padding-left : 5rem;
}
.small-text{
    font-size: 10px;
    font-weight: 500;
 }
.quality {
    background-color: $back-ground;    
    box-sizing: border-box;
    font-size: 0.5;
    line-height: 100%; 
    width: 100%;    
}

.solp{
   width: 14rem;
}
.circullar-chart.orange .circle {
    stroke:blue;
  }
